@import './style/vars';

body {

  
  background-color: $black;
}

main {
  display: block;
  margin: 0px auto;
  width: clamp(320px,1440px,100vw);
  //background-color: aqua;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  //background: pink;
}