/* -- colors -- */

$primary-light2: #EFE7D5;
$primary-light1: #E0CFAB;
$primary: #C19F58;
$primary-dark1: #796845;
$primary-dark2: #554D3B;

$secondary-light: #365A69;
$secondary: #3B83A1;
$secondary-dark: #365A69;
 

$white: #FEFEFE;
$black: #161616;
$bg: #313131;

$grey: #989898;


$color-border: #777;


/* -- spaces --*/
$gutter: 0.5rem;

