@import './reset';


html {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
}

.strong {
  font-weight: bolder;
}

.italic {
  font-style: italic;
}