@import 'style/vars';

.searchBar {
  margin: 10*$gutter auto; 
  width: clamp(320px,450px, 80vw);
  position: relative;
}

.searchBar__title {
  color: $white;
  text-align: center;
  font-size: 1.5em;
}


.searchBar__inputBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $gutter;
  background: $primary;
  border-radius: 3rem;

}


.searchBar__input {
  width: 100%;
  background: transparent;
  border: none;
  color: $white;
  font-size: 2em;
  padding-left: 2*$gutter;

 &::placeholder {
   color: $white;
   font-size: 0.45em;
   padding-bottom: $gutter;
}
}
 

.loupe {
  margin: -1*$gutter;
  width: 15%;
  &:hover{
    cursor: pointer;
  }
}

.loupe_try{
  background: $grey;
  width: 11%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  right: 1%;
  z-index: 3000;
  background: url(../../assets/loupe_blanche_manche.svg), -webkit-radial-gradient(center, #989898, #616161);
  background: url(../../assets/loupe_blanche_manche.svg), -moz-radial-gradient(center, #989898, #616161);
  background: url(../../assets/loupe_blanche_manche.svg), radial-gradient(ellipse at center, #989898, #616161);
  background-size: 75%, 100%;
  background-position: 60% 50%, center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.56);
  box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.56);
  transition: box-shadow 0.5s ease-in-out;

  &:hover{
    cursor: pointer;
    background: url(../../assets/loupe_blanche_manche_hover.svg), -webkit-radial-gradient(center, #989898, #515151);
    background: url(../../assets/loupe_blanche_manche_hover.svg), -moz-radial-gradient(center, #989898, #515151);
    background: url(../../assets/loupe_blanche_manche_hover.svg), radial-gradient(ellipse at center, #989898, #515151);
    background-size: 75%, 100%;
    background-position: 60% 50%, center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.56);
  }
  &:active{
    background: url(../../assets/loupe_blanche_active.svg), -webkit-radial-gradient(center, #FCFCFC, #989898);
    background: url(../../assets/loupe_blanche_active.svg), -moz-radial-gradient(center, #FCFCFC, #989898);
    background: url(../../assets/loupe_blanche_active.svg), radial-gradient(ellipse at center, #FCFCFC, #989898);
    background-size: 75%, 100%;
    background-position: 60% 50%, center;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 10px 10px 26px -5px rgba(0,0,0,0.56);
    -moz-box-shadow: inset 10px 10px 26px -5px rgba(0,0,0,0.56);
    box-shadow: inset 10px 10px 26px -5px rgba(0,0,0,0.56);
  }
} 

.searchBar__notif{
  display: block;
  color: $white;
  padding-top: $gutter;
  padding-bottom: $gutter;
  text-align: center;
  animation: coming 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
  .hidden{
  animation: gone 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  }

 .searchBar__notif__container{
    width: 60%;
    margin: 0 auto;
    background: #1f1f1f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px solid $primary;
    position: relative;
    z-index: -1;
    top: 0px;
    /* animation: comingContainer 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;  */
    .hidden{
      top: -40px;
      /* animation: comingContainerGone 0.5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;  */
      }
  }

/* ANNIMATION*/

@keyframes coming {
  0% {
    opacity: 0.1;
    filter: blur(2px);

  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes comingContainer {
  0% {
    top: -0px;

  }
  100% {
    top: -40px;
  }
}

@keyframes gone {
  0% {
    opacity: 1;
    filter: blur(0px);

  }
  100% {
    opacity: 0;
    filter: blur(2px);
  }
}

@keyframes comingContainerGone {
  0% {
    top: -40px;

  }
  100% {
    top: 0px;
  }
}

/* MEDIA QUERIES*/ 
@media screen and (max-width: 640px) {
    .searchBar {
      font-size: 0.5em;
    }
    .searchBar__input {
      font-size: 1em;
    }
}