@import 'style/vars';

.searchBar {
  margin: 10*$gutter auto; 
  width: clamp(320px,450px, 80vw);
  
}

.searchBar__title {
  color: $white;
  text-align: center;
  font-size: 1.5em;
}


.searchBar__inputBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $gutter;
  background: $primary;
  border-radius: 3rem;

}


.searchBar__input {
  width: 100%;
  background: transparent;
  border: none;
  color: $white;
 &::placeholder {
   color: $white;
 }  
}


.loupe {
  margin: -1*$gutter;
  width: 15%;
  &:hover{
    cursor: pointer;
  }
}

@media screen and (max-width: 640px) {
    .searchBar {
      font-size: 0.5em;
    }
    .searchBar__input {
      font-size: 1em;
    }
}